* {
  box-sizing: border-box;
}

:root {
  --background: #f9d877;
}

body {
  padding: 4rem 2rem 2rem;
  min-height: 100vh;
  background: linear-gradient(to bottom right, rgb(173, 83, 137), rgb(60, 16, 83));
  font-size: 1.2rem;
  /* font-family: "Patrick Hand", cursive; */
  display: grid;
  grid: 2rem auto / repeat(2, 50%);
  grid-column-gap: 2rem;
  justify-content: center;
  width: 100%;
}

p {
  margin-bottom: 1rem;
}

.folder {
  grid-column: 1 / -1;
  margin: 1rem auto;
  max-width: 57rem;
  width: 100%;
}

.tabs {
  padding: 2rem 0 0 0;
  margin: 0 0.5rem;
  overflow-x: auto;
  white-space: nowrap;
  width: calc(100% - 1rem);
}

@media(min-width: 50rem) {
  .tabs {
    margin: 0 2rem;
    width: calc(100% - 4rem);
  }
}

.tab {
  /* font-family: "Patrick Hand", cursive; */
  text-transform: uppercase;
  display: inline-block;
  margin-left: -35px;
  margin-right: 4rem;
  border: none;
  border-radius: 6px 6px 0 0;
  position: relative;
  background: var(--background);
  cursor: pointer;
  filter: drop-shadow(0px -3px 2px rgba(0, 0, 0, 0.05));
}

.tab:first-of-type {
  margin-left: 30px;
}

.tab:focus {
  outline: none;
}

.tab:focus span {
  border-bottom: 2px solid;
  border-radius: 0;
}

.tab div {
  background: var(--background);
  padding: 6px 0;
  position: relative;
  z-index: 10;
}

.tab span {
  display: inline-block;
  border: 2px solid transparent;
  padding: 6px 15px;
  border-radius: 5px;
  font-size: 140%;
  color: #fff;
  min-width: 6rem;
  position: relative;
  z-index: 5;
}

.tab::before,
.tab::after {
  content: "";
  height: 100%;
  width: 30px;
  position: absolute;
  background: var(--background);
  top: 0;
}

.tab::before {
  right: -16px;
  transform: skew(25deg);
  border-radius: 0 8px 0 0;
}

.tab::after {
  left: -16px;
  transform: skew(-25deg);
  border-radius: 8px 0 0 0;
}

.tab.active {
  z-index: 50;
}

.tab.active span {
  background: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  color: black;
}

.content {
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.content::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: inherit;
}

.content__inner {
  display: none;
  background: var(--background);
  font-family: "Yomogi", sans-serif;
  border-radius: 10px;
  padding: 1rem;
  filter: drop-shadow(0px -2px 2px rgba(0, 0, 0, 0.1));
  z-index: 5;
}

.page {
  padding: 1.5rem;
  border-radius: 2px;
  min-height: 20rem;
  line-height: 160%;
  background-size: 8% 8%, 2px 2px;
}

/* Style the radio buttons */
input.variation {
  display: none;
}

input.variation + label {
  display: flex;
  column-gap: 10px;
  align-items: center;
  cursor: pointer;
  color: white;
}

input.variation + label .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid white;
}

input.variation:checked + label .circle {
  background: white;
  box-shadow: inset 0 0 0 3px #3c1053;
}
