.number {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3rem;
}

#datefield {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}

button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}